
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

body{
        height:100%;
        width:100%;
}

nav {
        margin-top:0.5%;
        width: 100%;
        height: 5%;
        display:flex;
        flex-direction: row;
        position:fixed;
        align-items: center;
        background-color: hsl(0, 0%, 100%);
        box-shadow: hsl(0, 0%, 0%); 
}
form{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
}

#search-div{
        
        
        padding: 0px;
        height: 32px;
        width: 575px;
        
}

#search-button{
        
        margin: 0px;
        padding: 0px;
        height: 32px;
        width: 64px;
        background-color: hsl(0, 0%, 97%);
        border-width: 1px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

        -webkit-appearance: none;
        -moz-appearance: none;
         appearance: none;
         box-shadow: none;
         border-style: solid;
        align-content: center
        
        
}
#notifications{
        display:flex;
        justify-content: flex-end;
        width: 25%;   
        margin-right: 3%;    
        
}
svg{
        width:24px ;
        height:32px;
        align-content: center
}
.borderless {
        height: 50px;
        width: 50px;
        border: none;
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

}

input {
        height: 30px;
        width: 574px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border-width:1px;
        padding:0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        border-style: solid;
        border-color:buttonface;
  
}

#avatar-div {

        width: 34px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:17px;

}
#user-avatar {

        height: 34px; 
}


main{
        height:100vh;
        width:100%;
        position:relative;
        top:60px;
        background-color: hsl(0, 0%, 97%);
        display: flex;
        flex-direction: row;
        
}
.main-video{

        width:75%;
        
}
#vid{

        height:50%;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        
}
iframe{
        align-self: center;
        vertical-align: middle;

}

.recommended-videos{

        width:25%;
}

#logo{
        height:28px;
        
}
#logo-div {
        width: 25%;
}
#name-div{

        width:50%;
}

#like-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width:40%;
        padding-left:50px;
        padding-top: 5%;
}

#uploader-info{

        display:flex;
        flex-direction: row;
}
#upavatar-div{
        width:50%;
}
#subscribe-div{ 
        width:50%;
        display: flex;
        justify-content: flex-end;

}
#below-vid {
        display: flex;
        flex-direction: row;
        
}