
*{
        font-family: 'Roboto', sans-serif;

}
button,
input,
optgroup,
select,
textarea {

  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
  
}


/* Main */
html{
        height:100%;
}

body{
        height:100%;
        width:100%;
        margin:0px;
}

main{
        height:100vh;
        width:100%;
        position:relative;
        top:60px;
        display: flex;
        flex-direction: row; 
}

h1{
        font-weight: lighter;
}


/*Navigation Bar*/

nav {   
        width: 100%;
        height: 50px;
        display:flex;
        flex-direction: row;
        position:fixed;
        align-items: center;
        background-color: hsl(0, 0%, 100%);
        z-index:2;  
}

form{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
}

input {
        height: 30px;
        width: 574px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border-width:1px;
        padding:0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        border-style: solid;
        border-color:buttonface;
}

svg{
        width:24px ;
        height:32px;
        align-content: center
}

.borderless {
        height: 50px;
        width: 50px;
        border: none;
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

#logo{
        height:28px;    
}

#logo-div {
        width: 25%;
        margin-left:4%;
}

#search-div{
        padding: 0px;
        height: 32px;
        width: 575px;  
}

#avatar-div {
        width: 34px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:17px;
}

#search-button{  
        margin: 0px;
        padding: 0px;
        height: 32px;
        width: 64px;
        background-color: hsl(0, 0%, 97%);
        border-width: 1px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

        -webkit-appearance: none;
        -moz-appearance: none;
         appearance: none;
         box-shadow: none;
         border-style: solid;
        align-content: center
}

#notifications{
        display:flex;
        justify-content: flex-end;
        width: 25%;   
        margin-right: 3%;    
        
}

#user-avatar {
        height: 34px; 
}

/*Main Video */

iframe{ 
        align-self: center;
        margin-right:23px;
}

.main-video{
        width:74%;    
}

#vid{
        height:775px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content:flex-end;  
}

/* Video data*/

span {
        font-size: 18px;
}
#below-vid {
        display: flex;
        flex-direction: row;
        margin-left: 7%;
}

#name-div{
        width:50%;
}

#video-name {
        font-size: 18px;
}

#views {
        color: #606060;
        font-size: 16px;
}

#upavatar-div{
        width:10%;
        margin-left:7%;
}
#upavatar-info{
        height:150px;
}

#uploader-info{
        display:flex;
        flex-direction: row;
}

#like-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width:40%;
        padding-left:100px;
        padding-top: 5%;
}

#subscribe-div{ 
        width:50%;
        display: flex;
        justify-content: flex-end;
}
#subscribe {
        width: 200px;
        height: 40px;
        margin-right: 21px;
        background-color: #CC0000;
        color: white;
        border-radius: 2px;
        border-width: 0px;
}
#comments {
        width: 1350px;
        margin-left: 100px;
}

/*Recommended Videos*/


.recommended-videos{
        width:26%;
}

.thumbnail {
        height: 100px;
        margin-bottom:1px;
}

#autoplay {
        margin-top: 19px;
        width: 425px;
}

#next-video{
        margin-top: 10px;
        margin-bottom: 25px;
}

